#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.space-bottom {
  margin-bottom: 10px;
}
.button-calculateBmi {
  background-color: lightgreen;
  color: black;
  height: 40px;
  margin-right: 5px;
}
.button-resetBmi {
  background-color: lightgray;
  color: black;
  height: 40px;
  margin-left: 5px;
}

label,
input {
  display: block;
  margin-bottom: 0.5em;
}

hr {
  width: 20px;
  margin: 2em auto;
  border-color: #888;
}

.red {
  color: #ff6767;
}

.green {
  color: #58ff58;
}

.yellow {
  color: #f0f056;
}

.gray {
  color: #a9a9a9;
}
